table, th, td {border: 1px solid white;}
th.name, th.tag {width: 95px;}
td.wide {width: 500px;}
h1, table {margin: auto; text-align: center;}
.background {font-family: monospace; background-color: darkgrey;}
h1 {font-family: 'Gill Sans'; color: white;}
.white {background-color: white;}
html {background-color: black;}